<div cdkDropListGroup>
  <mat-toolbar color="primary" role="heading">
    <mat-toolbar-row class="header">
      <div>
        <span>Second Line</span>&nbsp;
        <mat-icon aria-hidden="false" aria-label="Example user verified icon">verified_user
        </mat-icon>
      </div>
      <ul class="header__links">
        <li>
          <button mat-button routerLink="about">About</button>
        </li>
        <li>
          <button mat-button routerLink="home">Assets</button>
        </li>
        <li>
          <button mat-button routerLink="admin">Admin</button>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav opened mode="side" class="sidenav-container__sidenav">
      <button mat-button class="sidenav__button" routerLink="cars">Cars</button>
      <button mat-button class="sidenav__button">Courses</button>
      <ul cdkDropList [cdkDropListData]="photos" (cdkDropListDropped)="drop($event)">
        <li *ngFor="let photo of photos" class="photo-container" cdkDrag>
          <p>{{photo.title}}</p>
          <p>{{photo.id}}</p>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<mat-toolbar class="example-footer">Footer</mat-toolbar>

